# Cohere API
COHERE_API_KEY=vjH3RkTSzqxySgPUfFVVTOD49NGXhEhqe95VZTaS

# Qdrant Cloud
QDRANT_URL=https://95118e17-e14a-43f4-bb0d-8b514273d734.europe-west3-0.gcp.cloud.qdrant.io:6333
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwiZXhwIjoxNzcyMDkwNDc2fQ.YWcJbgptI9ei4kgFlRqp5y75nyXnm-eABVHQz6uPZHk
QDRANT_CLUSTER_ID=95118e17-e14a-43f4-bb0d-8b514273d734  # Optional

# Database
NEON_DATABASE_URL=postgresql://neondb_owner:npg_t0PBTbWGa5Rp@ep-withered-fire-a42ip3ex-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


# Application settings
DEBUG=false