.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.chatbotSection {
  padding: 2rem 0;
  width: 100%;
  background-color: #f8fafc;
}

.chatbotContainer {
  margin-top: 1rem;
  max-width: 100%;
  height: 600px;
}